body {
  margin: 0;
  font-family: $brand-font-primary;
  background-color: $light-gray;
}

.main-container {
  font-size: 8pt;
  overflow-x: hidden;

  @media screen and (min-width: $medium-break) {
    font-size: 12pt;
  }

  @media screen and (min-width: $large-break) {
    font-size: 16pt;
  }
  
  h1 {
    font-size: 12pt;
    margin: 0;

    @media screen and (min-width: $medium-break) {
      font-size: 16pt;
    }

    @media screen and (min-width: $large-break) {
      font-size: 28pt;
    }
  }

  @media screen and (min-width: $large-break) {
    box-shadow: 0px 1px 17px -4px rgba(0,0,0,0.75);
    margin: 0 100px 0 100px;
  }

}
.root{
  flex-grow:1
}
.flex{
  flex:1
}
.link-button{
  text-decoration:none
}
.sub-header-title{
  margin-top:60px !important;
  font-size:48px !important;;
  text-align:center;
  color:$dark-gray !important;
  width:"100%";
  font-weight:400  !important;;
}
.sub-header-desc{
  font-size:24px !important;;
  text-align:center;
  color:$medium-gray !important;
  width:"100%";
  font-weight:400  !important;;
}